.App {
  text-align: center;
}

body {
  font: small-caps 12px/30px Verdana;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.img-logo {
  max-width: 100px;
  width: 75px;
}

.titre {
  font: small-caps 12px/30px Verdana;
}
.titre1 {
  font: small-caps 12px/30px Arial, Helvetica, sans-serif;
}

.logo {
  width: 30px;
}

.nav-item h5 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.9dvh;
  margin: 0 2% 0 2%;
  padding: 0;
  color: #0000006d;
  font-weight: bold;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  width: 100%;
}
.user-image {
  max-width: 15%;
}
nav {
  width: auto;
  height: 75px;
  padding: 0 0 30px 0;
  margin: 0 4% 0 4%;
}

.items-mobile {
  display: none;
  background-color: #00000000;
}

.annonce {
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
}
.cat-shoes {
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)),
    url('./Images/shoes.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cat-vetement {
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)),
    url('./Images/clothes.jpeg');

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo {
  height: 600px;
}

.section1 {
  height: 900px;
  width: 100%;
  background-image: url('./Images/brand_image.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 100px;
}

.sSection1 {
  height: 900px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.454);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.description1 {
  color: #bcbcbc;
}
.tDescription1 {
  color: #bcbcbc;
  font-size: 2dvh;
}

.element-1 {
  width: 130px;
}

.desc {
  color: #999999;
  font-size: 15px;
  font-weight: 100;
}

.desc1 {
  padding-left: 150px;
  color: #999999;
  font-size: 15px;
  font-weight: 100;
}

.title {
  font-size: 40px;
  font-weight: bold;
}
.owl-carousel {
  position: relative;
}
.owl-next,
.owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.owl-next {
  right: 0;
  display: flex;
}
.owl-prev {
  left: 0;
  display: flex;
}
.btn-section {
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  padding: 12px 25px 12px 25px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-weight: 100;
}

.img-package {
  max-width: 80px;
}

@media screen and (min-width: 0px) {
  .items-mobile {
    display: block;
  }
  .items {
    display: none;
  }

  .desc1 {
    padding-left: 0;
  }
}
@media screen and (min-width: 576px) {
  .title {
    text-align: center;
  }
  .desc {
    text-align: center;
    margin-bottom: 20%;
  }
}

@media screen and (min-width: 768px) {
  .title {
    text-align: start;
  }
  .desc {
    text-align: start;
    margin: 0;
  }

  .desc1 {
    padding-right: 150px;
  }

  .items {
    display: inline-block;
  }

  .items-mobile {
    display: none;
  }
}
